.cover__link {
  width: 100%;
  min-height: 740px;
  margin: 0;
  padding: 0;
  background-color: rgba(42, 44, 47, 0.3);
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 2;
  color: #fff;
  text-decoration: none;
  align-self: center;
  justify-self: center;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: linear;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content max-content 1fr;
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, 0.8);
}


@media screen and (max-width: 1152px) {
  .cover__link {
    min-height: 0;
    height: 62.5vw;
  }
}