.gallery {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (max-width: 1152px) {
  .gallery {
    max-width: 928px;
  }
}

@media screen and (max-width: 896px) {
  .gallery {
    max-width: 720px;
    padding-top: 88px;
  }
}
@media screen and (max-width: 544px) {
  .gallery {
    width: 100%;
    padding-top: 64px;
  }
}
