.places {
    width: 77%;
    /* width: 100%; */
    box-sizing: border-box;
    padding-top: 12px;
    margin: 0 148px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    color: #fff;
}