.places__url {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-end;
}

@media screen and (max-width: 320px) {
  .places__url {
    width: 90%;
    margin: 0 auto;
    margin-top: 32px;
  }
}
