.header__lang {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  color: #fff;
  margin-left: 18px;
  align-self: center;
}

.header__lang:first-of-type {
  text-decoration: underline;
}

@media screen and (max-width: 544px) {
  .header__lang {
    font-size: 18px;
    line-height: 1.11;
  }
}