.footer__columns {
  width: calc(100% - 96px);
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 896px) {
  .footer__columns {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 544px) {
  .footer__columns {
    width: calc(100% - 32px);
    flex-direction: column;
    align-items: flex-start;
  }
}
