.lead {
  max-width: 984px;
  padding-top: 56px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1152px) {
  .lead {
    padding-top: 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 896px) {
  .lead {
    width: 100%;
  }
}
