.header__logo {
  margin: 0;
  align-self: center;
  max-width: 176px;
  object-fit: cover;
  object-position: top;
}

@media screen and (max-width: 544px) {
  .header__logo {
    max-width: 142px;
  }
}