.link {
  margin: 0;
  padding: 0;
  color: #fff;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.footer__link > .link {
  text-decoration: none;
}

.link:hover {
  opacity: .8;
}