.gallery__photo {
    width: calc((100% + 16px)/4 - 16px);
    margin: 0;
    object-fit: cover;
    object-position: top;
}

@media screen and (max-width: 1024px) {
    .gallery__photo {
        width: calc((100% + 16px)/3 - 16px);
    }
}

@media screen and (max-width: 768px) {
    .gallery__photo {
        width: calc((100% + 16px)/2 - 16px);
    }
}

@media screen and (max-width: 320px) {
    .gallery__photo {
        width: 100%;
    }
}