.gallery__photo {
  width: calc((100% + 16px) / 4 - 16px);
  margin: 0;
  list-style: none;
  line-height: 0;
}

@media screen and (max-width: 1152px) {
  .gallery__photo {
    width: calc((100% + 14px) / 3 - 14px);
  }
}

@media screen and (max-width: 896px) {
  .gallery__photo {
    width: calc((100% + 16px) / 2 - 16px);
  }
}

@media screen and (max-width: 544px) {
  .gallery__photo {
    width: 100%;
  }
}
