.cover__anotation {
  max-width: 360px;
  margin: 0 auto;
  padding-top: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  grid-row: 3/4;
}

@media screen and (max-width: 544px) {
  .cover__anotation {
    max-width: calc(100% -32px);
    padding-top: 16px;
    font-size: 14px;
    font-weight: 1.14;
  }
}
