.intro {
  width: calc(100% - (100% - 96px)/4);
  padding-top: 92px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1152px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 896px) {
  .intro {
    padding-top: 88px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 544px) {
  .intro {
    width: calc(100% - 32px);
    padding-top: 64px;
  }
}
