.lead__subtitle {
  max-width: 640px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  align-self: center;
  margin-top: 32px;
  margin-bottom: 64px;
}

@media screen and (max-width: 1152px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 544px) {
  .lead__subtitle {
    margin-top: 16px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    width: calc(100% - 32px);
  }
}
