.cover {
  width: calc(100% - 96px);
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 92px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 1152px) {
  .cover {
    width: 100%;
  }
}
