.places__place {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(460px, 40%) auto;
  grid-template-rows: repeat(2, max-content);
  grid-auto-rows: max-content;
  gap: 48px 40px;
}

@media screen and (max-width: 1152px) {
  .places__place {
    grid-template-columns: minmax(440px, 40%) auto;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 896px) {
  .places__place {
    grid-template-columns: minmax(340px, 40%) auto;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 700px) {
  .places__place {
    grid-template-columns: 40% auto;
    gap: 48px 20px;
  }
}

@media screen and (max-width: 544px) {
  .places__place {
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 0;
  }
}
